@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT-Sans-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PT-Sans-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/PT-Sans-BoldItalic.woff2") format("woff2");
  font-display: swap;
}

/* Параметры текста сайта*/
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* Хедер*/
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.site-navigation,
.site-search {
  list-style-type: none;
}

.navigation-link,
.search-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

/* Герой */
.hero {
  background-image: url(../images/background/index-background.jpg);
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #ffffff;
  background-size: 100% auto;
  text-align: center;
}

/* Приимущества */
.slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.slogan-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  list-style-type: none;
}

.advantages-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.advantages-list li:nth-child(1),
.advantages-list li:nth-child(7) {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list li:nth-child(3),
.advantages-list li:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Сервис */
.services-call {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-call-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  list-style-type: none;
}

.services-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.services-list li:nth-child(1),
.services-list li:nth-child(3) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-img {
  text-align: center;
}

/* Поиск */
.search-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.search-section {
  text-align: center;
}

.search-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/* Подписка */
.subscription-form {
  background-image: url(../images/background/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #ffffff;
  background-size: 100% auto;
  text-align: center;
}

/* Подвал */
.social-list {
  list-style-type: none;
}

.contacts-phone {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
